<div class="row">
  <div class="col-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <%= link_to new_todo_path(type: "Todo"), data: { turbo_frame: 'todo_modal' } do %>
          <h5 class="card-title">To-Do</h5>
          <i class="fa-solid fa-circle-check"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <%= link_to new_todo_path(type: "Project"), data: { turbo_frame: 'todo_modal' } do %>
          <h5 class="card-title">Project</h5>
          <i class="fa-solid fa-list"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
